.noktasiz {
    list-style: none;
    padding-left: 0px;
}
body { background: #renk }
.no-padding {
    padding: 0;
}

.panel-profile h3 {
    margin: 0 0 5px 0;
}

.panel-profile .btn {
    margin-bottom: 10px;
}