.noktasiz {
    list-style: none;
    padding-left: 0px;
}
body { background: rgb(225, 235, 228);
}
.no-padding {
    padding: 0;
}

.panel-profile h3 {
    margin: 0 0 5px 0;
}

.panel-profile .btn {
    margin-bottom: 10px;
}

.turp-button {
    font-size: inherit;
}

.input-arreglo-group{
    padding: 0;
}
.input-arreglo-group button{
    margin-top: 0px;
    height: calc(100% + 15px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.like_post {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.panel-submit .panel-body{
    background-color: rgb(191, 255, 210) ;
}
.panel-submit .form-control{
    background-color: rgb(225, 230, 228);
}
.panel-footer{
    background-color: rgb(225, 230, 228);
}
