{% extends "layout.html" %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
   <div class="row">
      <div class="col-md-2">
         <div class="panel panel-info panel-profile">
            <div class="panel-heading">
               <h3 class="panel-title text-center">Seyma SARIGIL </h3>
            </div>
            <div class="panel-body no-padding">
               <a href="#"><img class="img-responsive" src="assets/images/resim.jpg" alt="Seyma SARIGİL"></a>
            </div>
            <div class="panel-footer">
               <div class="row">
                  <div class="col-xs-12">
                     <a class="btn btn-info btn-xs btn-block"> Tweet : 1256 </a>
                  </div>
                  <div class="col-xs-12">
                     <a class="btn btn-info btn-xs btn-block"> Following : 562 </a>
                  </div>
                  <div class="col-xs-12">
                     <a class="btn btn-info btn-xs btn-block"> Follower : 286 </a>
                  </div>
                  <div class="col-xs-12">
                     <a class="btn btn-info btn-xs btn-block"> Favorites : 32 </a>
                  </div>
               </div>
            </div>
         </div>
         <p>FAVORİ POSTLAR</p>
         <ul class="media-list">
            <li class="media">
               <div class="media-left">
                  <a href="#">
                  <img class="media-object img-rounded" width="70" height="70" src="assets/images/recep.jpeg" alt="...">
                  </a>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">Recep İvedik</h4>
                  Agresifim! Kompleksliyim! amma perdelerimi kaldırınca da kedi gibi bir insanım.
               </div>
            </li>
            <li class="media">
               <div class="media-left">
                  <a href="#">
                  <img class="media-object img-rounded" width="70" height="70" src="assets/images/deli.png" alt="...">
                  </a>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">Abdulkadir Delibıyık</h4>
                  Erzurumu Sel Aldı!!
               </div>
            </li>
            <li class="media">
               <div class="media-left">
                  <a href="#">
                  <img class="media-object img-rounded" width="70" height="70" src="assets/images/kedi.jpg" alt="...">
                  </a>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">Berna Kedigil</h4>
                  dsljkwq9*324 (bu bir kedi patisi paylaşımıdır.)
               </div>
            </li>
         </ul>
      </div>
      <div class="col-md-6">
         <form method="post" id="turp-form">
         <div class="panel panel-info panel-submit">
         <div class="panel-heading">
            <h3 class="panel-title">Şimdi Turpla !</h3>
         </div>
         <div class="panel-body">
            <div class="input-group">
               <textarea class="form-control" id="txtTurpMesaj" placeholder="Paylaş..."></textarea>
               <div class="input-group-addon input-arreglo-group">
                  <a href="javascript:Turpla()" class="btn btn-info">Turpla</a>
               </div>
            </div>
            <!-- /input-group -->
         </div>
      </div>
          </form>
         <div id="turpListesi">
      <div class="media">
         <div class="media-left">
            <a href="#">
            <img class="media-object img-circle" width="50" height="54" src="assets/images/resim.jpg" alt="...">
            </a>
         </div>
         <div class="media-body">
            <h4 class="media-heading">Seyma SARIGİL</h4>
            <p>...</p>
         </div>
      </div>
      <div class="media">
         <div class="media-left">
            <a href="#">
            <img class="media-object img-circle" width="50" height="54" src="assets/images/resim.jpg" alt="...">
            </a>
         </div>
         <div class="media-body">
            <h4 class="media-heading">Seyma SARIGİL</h4>
            <p>...</p>
         </div>
      </div>
      <div class="media">
         <div class="media-left">
            <a href="#">
            <img class="media-object img-circle" width="50" height="54" src="assets/images/resim.jpg" alt="...">
            </a>
         </div>
         <div class="media-body">
            <h4 class="media-heading">Seyma SARIGİL</h4>
            <p>...</p>
         </div>
      </div></div>
   </div>
   <div class="col-md-3">
      <div class="archive ">
         <aside class="sidebar_right">
            <header>
               <h5 class="nav__title "><i class="media-heading"></i> İLGİNİ ÇEKEBİLECEK POSTLAR </h5>
            </header>
            <ul class="like_post " >
               <li>
                  <h4 class="media-heading">Abdulkadir Delibıyık, Seyma Sarıgil'in <a href="#">Post</a>unu Beğendi!</h4>
               </li>
               Kara Tren Gecikir Belki De Gelmez Yani Bilemiyorum Tam...
               <li>
                  <h4 class="media-heading">
                  Abdulkadir Delibıyık, Seyma Sarıgil'in <a href="#">Post</a>unu Beğendi!
               </li>
               Kara Tren Gecikir Belki De Gelmez Yani Bilemiyorum Tam...
               <li>
                  <h4 class="media-heading">
                  Abdulkadir Delibıyık, Seyma Sarıgil'in <a href="#">Post</a>unu Beğendi!
               </li>
               Kara Tren Gecikir Belki De Gelmez Yani Bilemiyorum Tam...
               <li>
                  <h4 class="media-heading">
                  Abdulkadir Delibıyık, Seyma Sarıgil'in <a href="#">Post</a>unu Beğendi!
               </li>
               Kara Tren Gecikir Belki De Gelmez Yani Bilemiyorum Tam...
            </ul>
         </aside>
      </div>
   </div>
</div>
</div>
{% endblock %}
<!-- hani biz layout.html'den alıyoruz ya ana yapıyı header ı footer ı. layout.html'de diyoruz ki burası "body" alanı. index.html'de de diyoruz layout.html'i al ve body alanına şunları yaz -->
{% if error %}
<div class="alert alert-danger">
   {{ error }}
</div>
{% endif %}
