<div class="media">
   <div class="media-left">
      <a href="#">
      <img class="media-object img-circle" width="50" height="54" src="assets/images/resim.jpg" alt="...">
      </a>
   </div>
   <div class="media-body">
      <h4 class="media-heading">{{ username }}</h4>
      <p id="text{{ post.id }}">{{ post.text }}</p>
      <a href="javascript: liked()">
      <button type="button" class="btn btn-info btn-sm button-like" data-id=" {{ post.id }}"><span class="glyphicon glyphicon-thumbs-up"></span> Like </button></a>
   </div>
</div>

