{% extends "layout.html" %}
{% block body %}
<div class="container">
   <div class="row main">
      <div class="panel-heading">
         <div class="panel-title text-center">
            <img class="media-object img-circle" width="200" height="205" src="assets/images/turp.png" alt="...">
            <h3>TURPITTER</h3>
            <hr />
         </div>
      </div>
      <div class="main-login main-center">
         {% if errors %}
         <div class="alert alert-danger">
            {{ errors }}
         </div>
         {% endif %}
         <form class="form-horizontal" method="post" action="#">
            <div class="form-group">
               <label for="name" class="col-sm-1 control-label">Ad-Soyad :</label>
               <div class="col-sm-11">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                     <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name-Surname"required/>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="email" class="col-sm-1 control-label">E-mail :</label>
               <div class="col-sm-11">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                     <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"required/>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="username" class="col-sm-1 control-label">Kullanıcı Adı :</label>
               <div class="col-sm-11">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                     <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/ required>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="password" class="col-sm-1 control-label">Parola :</label>
               <div class="col-sm-11">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                     <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" required/>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="confirm" class="col-sm-1 control-label">Tekrar Parola :</label>
               <div class="col-sm-11">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                     <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"required/>
                  </div>
               </div>
            </div>
            <div class="form-group ">
               <button type="submit" class="btn btn-info btn-lg btn-block login-button">REGISTER</button>
            </div>
            <div class="login-register">
               <a href="#" class="btn btn-success btn-lg btn-block login-button">LOGIN</a>
            </div>
         </form>
      </div>
   </div>
</div>
<!--
   {%if error %}
   <div class=" ">
   	{{ error }}
   </div>
   {% endif %}
    {% endblock %} -->
